<?xml version="1.0" encoding="utf-8" ?>
<nlog>
	<targets>
		<target name="file" type="File" fileName="${basedir}/logs/app.log"
		        layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="file"/>
	</rules>
</nlog>