USE [ispp3406]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductItem]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductItem] DROP CONSTRAINT IF EXISTS [CK_ProductItem_Size]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductItem]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductItem] DROP CONSTRAINT IF EXISTS [CK_ProductItem_Quantity]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
ALTER TABLE [dbo].[Product] DROP CONSTRAINT IF EXISTS [CK_Product_Price]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT IF EXISTS [CK_OrderItem_UnitPrice]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT IF EXISTS [CK_OrderItem_Quantity]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT IF EXISTS [FK_Users_Role]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subcategory]') AND type in (N'U'))
ALTER TABLE [dbo].[Subcategory] DROP CONSTRAINT IF EXISTS [FK_Subcategory_Category]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductMaterial]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductMaterial] DROP CONSTRAINT IF EXISTS [FK_ProductMaterial_Product]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductMaterial]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductMaterial] DROP CONSTRAINT IF EXISTS [FK_ProductMaterial_Material]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductItem]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductItem] DROP CONSTRAINT IF EXISTS [FK_ProductItem_Product]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
ALTER TABLE [dbo].[Product] DROP CONSTRAINT IF EXISTS [FK_Product_Subcategory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT IF EXISTS [FK_Orders_Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT IF EXISTS [FK_OrderItem_ProductItem]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT IF EXISTS [FK_OrderItem_Orders]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductItem]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductItem] DROP CONSTRAINT IF EXISTS [DF_ProductItem_Quantity]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT IF EXISTS [DF_Orders_OrderDate]
GO
/****** Объект:  Index [UQ_Users_Login]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT IF EXISTS [UQ_Users_Login]
GO
/****** Объект:  Index [UQ_Subcategory]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subcategory]') AND type in (N'U'))
ALTER TABLE [dbo].[Subcategory] DROP CONSTRAINT IF EXISTS [UQ_Subcategory]
GO
/****** Объект:  Index [UQ_Role_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
ALTER TABLE [dbo].[Role] DROP CONSTRAINT IF EXISTS [UQ_Role_Name]
GO
/****** Объект:  Index [UQ_ProductItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductItem]') AND type in (N'U'))
ALTER TABLE [dbo].[ProductItem] DROP CONSTRAINT IF EXISTS [UQ_ProductItem]
GO
/****** Объект:  Index [UQ_Product_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
ALTER TABLE [dbo].[Product] DROP CONSTRAINT IF EXISTS [UQ_Product_Name]
GO
/****** Объект:  Index [UQ_OrderItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT IF EXISTS [UQ_OrderItem]
GO
/****** Объект:  Index [UQ_Material_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Material]') AND type in (N'U'))
ALTER TABLE [dbo].[Material] DROP CONSTRAINT IF EXISTS [UQ_Material_Name]
GO
/****** Объект:  Index [UQ_Category_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
ALTER TABLE [dbo].[Category] DROP CONSTRAINT IF EXISTS [UQ_Category_Name]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Users]
GO
/****** Объект:  Table [dbo].[Subcategory]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Subcategory]
GO
/****** Объект:  Table [dbo].[Role]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Role]
GO
/****** Объект:  Table [dbo].[ProductMaterial]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[ProductMaterial]
GO
/****** Объект:  Table [dbo].[ProductItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[ProductItem]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Product]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Orders]
GO
/****** Объект:  Table [dbo].[OrderItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[OrderItem]
GO
/****** Объект:  Table [dbo].[Material]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Material]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP TABLE IF EXISTS [dbo].[Category]
GO
USE [master]
GO
/****** Объект:  Database [ispp3406]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
DROP DATABASE IF EXISTS [ispp3406]
GO
/****** Объект:  Database [ispp3406]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
CREATE DATABASE [ispp3406]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3406', FILENAME = N'/var/opt/mssql/data/ispp3406.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3406_log', FILENAME = N'/var/opt/mssql/data/ispp3406_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3406].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3406]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Material]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SubcategoryId] [int] NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](260) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItem](
	[ProductItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [decimal](3, 1) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ProductItem] PRIMARY KEY CLUSTERED 
(
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductMaterial]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ProductId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Role]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Subcategory]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[SubcategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[SubcategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Детская обувь')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Женская обувь')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([MaterialId], [Name]) VALUES (2, N'Искусственная кожа')
INSERT [dbo].[Material] ([MaterialId], [Name]) VALUES (5, N'Мех')
INSERT [dbo].[Material] ([MaterialId], [Name]) VALUES (1, N'Натуральная кожа')
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductItemId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(3490.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductItemId], [Quantity], [UnitPrice]) VALUES (2, 1, 4, 2, CAST(5990.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductItemId], [Quantity], [UnitPrice]) VALUES (3, 2, 7, 1, CAST(7490.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [UserId]) VALUES (1, CAST(N'2026-04-13' AS Date), 3)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [UserId]) VALUES (2, CAST(N'2026-04-14' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [SubcategoryId], [Manufacturer], [Image], [Description], [Price]) VALUES (1, N'Атлет', 1, N'Китай', N'athlete.jpg', N'Лёгкие кроссовки для бега и повседневной носки', CAST(3490.00 AS Decimal(10, 2)))
INSERT [dbo].[Product] ([ProductId], [Name], [SubcategoryId], [Manufacturer], [Image], [Description], [Price]) VALUES (2, N'Классик', 2, N'Россия', N'classic.jpg', N'Классические ботинки на осень', CAST(5990.00 AS Decimal(10, 2)))
INSERT [dbo].[Product] ([ProductId], [Name], [SubcategoryId], [Manufacturer], [Image], [Description], [Price]) VALUES (3, N'Леди', 3, N'Италия', N'lady.jpg', N'Элегантные туфли на каблуке', CAST(7490.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductItem] ON 

INSERT [dbo].[ProductItem] ([ProductItemId], [ProductId], [Size], [Quantity]) VALUES (1, 1, CAST(40.0 AS Decimal(3, 1)), 10)
INSERT [dbo].[ProductItem] ([ProductItemId], [ProductId], [Size], [Quantity]) VALUES (2, 1, CAST(41.0 AS Decimal(3, 1)), 8)
INSERT [dbo].[ProductItem] ([ProductItemId], [ProductId], [Size], [Quantity]) VALUES (3, 1, CAST(42.0 AS Decimal(3, 1)), 0)
SET IDENTITY_INSERT [dbo].[ProductItem] OFF
GO
INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId]) VALUES (1, 3)
INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId]) VALUES (1, 4)
INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Авторизованный пользователь')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Subcategory] ON 

INSERT [dbo].[Subcategory] ([SubcategoryId], [CategoryId], [Name]) VALUES (2, 1, N'Ботинки')
INSERT [dbo].[Subcategory] ([SubcategoryId], [CategoryId], [Name]) VALUES (1, 1, N'Кроссовки')
INSERT [dbo].[Subcategory] ([SubcategoryId], [CategoryId], [Name]) VALUES (4, 2, N'Сапоги')
SET IDENTITY_INSERT [dbo].[Subcategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [LastName], [FirstName], [MiddleName], [RoleId]) VALUES (1, N'admin', N'Иванов', N'Иван', N'Иванович', 1)
INSERT [dbo].[Users] ([UserId], [Login], [LastName], [FirstName], [MiddleName], [RoleId]) VALUES (2, N'manager', N'Петрова', N'Елена', N'Сергеевна', 2)
INSERT [dbo].[Users] ([UserId], [Login], [LastName], [FirstName], [MiddleName], [RoleId]) VALUES (3, N'user1', N'Сидоров', N'Дмитрий', N'Николаевич', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Category_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UQ_Category_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Material_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Material] ADD  CONSTRAINT [UQ_Material_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_OrderItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[OrderItem] ADD  CONSTRAINT [UQ_OrderItem] UNIQUE NONCLUSTERED 
(
	[OrderId] ASC,
	[ProductItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Product_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [UQ_Product_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[Manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_ProductItem]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[ProductItem] ADD  CONSTRAINT [UQ_ProductItem] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Role_Name]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UQ_Role_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Subcategory]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Subcategory] ADD  CONSTRAINT [UQ_Subcategory] UNIQUE NONCLUSTERED 
(
	[CategoryId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Users_Login]    Дата создания скрипта: 09.10.2026 11:38:55 ******/ 
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderDate]  DEFAULT (CONVERT([date],getdate())) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ProductItem] ADD  CONSTRAINT [DF_ProductItem_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_ProductItem] FOREIGN KEY([ProductItemId])
REFERENCES [dbo].[ProductItem] ([ProductItemId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_ProductItem]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Subcategory] FOREIGN KEY([SubcategoryId])
REFERENCES [dbo].[Subcategory] ([SubcategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Subcategory]
GO
ALTER TABLE [dbo].[ProductItem]  WITH CHECK ADD  CONSTRAINT [FK_ProductItem_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductItem] CHECK CONSTRAINT [FK_ProductItem_Product]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([MaterialId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Product]
GO
ALTER TABLE [dbo].[Subcategory]  WITH CHECK ADD  CONSTRAINT [FK_Subcategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Subcategory] CHECK CONSTRAINT [FK_Subcategory_Category]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CK_OrderItem_Quantity]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_UnitPrice] CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CK_OrderItem_UnitPrice]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Price]
GO
ALTER TABLE [dbo].[ProductItem]  WITH CHECK ADD  CONSTRAINT [CK_ProductItem_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductItem] CHECK CONSTRAINT [CK_ProductItem_Quantity]
GO
ALTER TABLE [dbo].[ProductItem]  WITH CHECK ADD  CONSTRAINT [CK_ProductItem_Size] CHECK  (([Size]>=(15) AND [Size]<=(55)))
GO
ALTER TABLE [dbo].[ProductItem] CHECK CONSTRAINT [CK_ProductItem_Size]
GO
USE [master]
GO
